<a href="https://colab.research.google.com/github/PINA-GUWOR/My-Python-Assignment1/blob/main/GROUP_4_CLASSWORK_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GROUP 4 DATA SCIENCE CLASSWORK
NAME OF PARTICIPANTS

In [ ]:
# write a python program to get the largest number from a list

In [ ]:
def max_num_in_list(list):

  max_value = list[0]
  for a in list:
    if a > max_value:
      max_value = a
  return max_value

In [ ]:
#trying out the program

max_num_in_list([1, 4, 7, 10])

10

In [ ]:
def largestNumber(lst):
    largest = max(lst)

    print (largest)

In [ ]:
num_list = [1,8,5,99.50]
largestNumber(num_list)

99.5

In [ ]:
def largestNumber(list):
    largest = max(list)

    print (largest)

In [ ]:
largestNumber([1,2,6,8,6,8])

8

In [ ]:
my_list = [1,2,6,8,6,8]
max(my_list)

8

In [ ]:
#2 write a program to get the smallest number from a list

In [ ]:
def min_num_in_list(list):

  min_value = list[0]
  for a in list:
    if a < min_value:
      min_value = a
  return min_value

In [ ]:
#trying out the program

min_num_in_list([1, 4, 7, 10])

1

In [ ]:
def SmallestNumber(lst):
    Smallest = min(lst)

    print (Smallest)

In [ ]:
num_list = [1,8,5,99.50]
SmallestNumber(num_list)

1

In [ ]:
def SmallestNumber(list):
    Smallest = min(list)

    print (Smallest)

In [ ]:
SmallestNumber([1,2,6,8,6,8])

1

In [ ]:
my_list = [1,2,6,8,6,8]
min(my_list)

1

In [ ]:
#3 write a python code script to add a key to a dictionary

In [ ]:
 Group_4_dict= {'Brenda':'owerri', 'Cynthia':'Ghana', 'Charity':'Makurdi', 'Pina':'Port Harcourt', 'Beryl':'Nairobi'}

In [ ]:
print(Group_4_dict)

{'Brenda': 'owerri', 'Cynthia': 'Ghana', 'Charity': 'Makurdi', 'Pina': 'Port Harcourt', 'Beryl': 'Nairobi'}

In [ ]:
Group_4_dict['Mariam'] = 'Lagos'
print(Group_4_dict)

{'Brenda': 'owerri', 'Cynthia': 'Ghana', 'Charity': 'Makurdi', 'Pina': 'Port Harcourt', 'Beryl': 'Nairobi', 'Mariam': 'Lagos'}

In [ ]:
# method 2

In [ ]:
Group_4_dict.update({'Jane':'Nigeria', 'Joy':'Lagos', 'Opemipo':'Rivers'})
print(Group_4_dict)

{'Brenda': 'owerri', 'Cynthia': 'Ghana', 'Charity': 'Makurdi', 'Pina': 'Port Harcourt', 'Beryl': 'Nairobi', 'Mariam': 'Lagos', 'Jane': 'Nigeria', 'Joy': 'Lagos', 'Opemipo': 'Rivers'}

In [ ]:
# write a python script tp merge two python dictionaries

In [ ]:
students = {'Jane':10, 'Laura':20, 'Joy':15}
parents = {'Jerry':20, 'Janet':50, 'David':70}
students.update(parents)
print(students)

{'Jane': 10, 'Laura': 20, 'Joy': 15, 'Jerry': 20, 'Janet': 50, 'David': 70}

In [ ]:
# method 2

In [ ]:
students = {'Jane':10, 'Laura':20, 'Joy':15}
parents = {'Jerry':20, 'Janet':50, 'David':70}
New_dict = {**students, **parents}
print(New_dict)

{'Jane': 10, 'Laura': 20, 'Joy': 15, 'Jerry': 20, 'Janet': 50, 'David': 70}

In [ ]:
#5 write a python program to remove a key from a dictionary

In [ ]:
students = {'Jane':10, 'Laura':20, 'Joy':15}
students.pop('Laura')
print(students)

{'Jane': 10, 'Joy': 15}

In [ ]:
#method 2

In [ ]:
students = {'Jane':10, 'Laura':20, 'Joy':15}
del students['Laura']
print(students)

{'Jane': 10, 'Joy': 15}

In [ ]:
# method 3

In [ ]:
students = {'Jane':10, 'Laura':20, 'Joy':15}
students.popitem()
print(students)

{'Jane': 10, 'Laura': 20}

In [ ]:
#6 write a python program to convert a list to a tuple

In [ ]:
colours = ["Pink", "Purple", "Indigo", "Orange", "Blue"]
colour_tuple = tuple(colours)
print(colour_tuple)

('Pink', 'Purple', 'Indigo', 'Orange', 'Blue')